# The domain under which the platform frontend is reachable.
TENZIR_PLATFORM_DOMAIN=

# The endpoint to which tenzir nodes should connect.
# Should a url with `ws://` or `wss://` scheme.
TENZIR_PLATFORM_CONTROL_ENDPOINT=

# The url where the blob storage is exposed.
TENZIR_PLATFORM_BLOBS_ENDPOINT=

# Platform OIDC Policy Configuration
#  - OIDC_PROVIDER_NAME: A short identifier for the OIDC provider. (e.g. 'auth0', 'keycloak', ...)
#  - OIDC_PROVIDER_ISSUER_URL: The OIDC provider used for logging into the platform.
#  - TRUSTED_AUDIENCES: A JSON object containing the OIDC issuer and audiences that should be accepted
#                       by the platform. Example: '{"issuer": "keycloak.example.org", "audiences": ["tenzir_platform"]}'
#  - ADMIN_FUNCTIONS: A JSON list of rules granting access to the admin API.
#                     See the documentation for a description of available rules.
#                     Example: '[{"connection": "google-oauth2","organization_claim": "tenzir/org","organization": "TenzirPlatformAdmins","auth_fn": "auth_organization"}]'
#                         This example rule grants admin access to all users with a valid signed id_token containing
#                         the fields `{"connection": "google-oauth2", "tenzir/org": "TenzirPlatformAdmins"}`.
TENZIR_PLATFORM_OIDC_PROVIDER_NAME=
TENZIR_PLATFORM_OIDC_PROVIDER_ISSUER_URL=
TENZIR_PLATFORM_OIDC_TRUSTED_AUDIENCES=
TENZIR_PLATFORM_OIDC_ADMIN_RULES=

# Specific OIDC Settings for the CLI.
# The Device Code flow must be enabled for this client.
# The returned audience must match the client id.
TENZIR_PLATFORM_CLI_CLIENT_ID=

# Specific OIDC Settings for the frontend.
# The Authorization Code flow must be enabled for this client.
# The returned audience must match the client id.
TENZIR_PLATFORM_APP_CLIENT_ID=
TENZIR_PLATFORM_APP_CLIENT_SECRET=

# Database connection
TENZIR_PLATFORM_STORE_TYPE=postgres
TENZIR_PLATFORM_POSTGRES_USER=
TENZIR_PLATFORM_POSTGRES_PASSWORD=
TENZIR_PLATFORM_POSTGRES_DB=
TENZIR_PLATFORM_POSTGRES_HOSTNAME=


# -------------------------------------------------------------------------------------------
# Variables that are not user-facing, these should move into a separate file later on.
# -------------------------------------------------------------------------------------------

# Secrets used by the platform
#  - AUTH_SECRET:
#      An arbitrary random string used as key to encrypt frontend cookies.
#      Generate with `openssl rand -hex 32`.
#  - TENANT_TOKEN_ENCRYPTION_KEY:
#      Encryption key used to generate user keys
#      Generate with `openssl rand 32 | base64encode`.
#  - APP_API_KEY:
#      An arbitrary random string used by the app to access the `/webapp` API.
#      Generate with `openssl rand -hex 32`.
TENZIR_PLATFORM_AUTH_SECRET=
TENZIR_PLATFORM_INTERNAL_TENANT_TOKEN_ENCRYPTION_KEY=
TENZIR_PLATFORM_INTERNAL_APP_API_KEY=

# The access key must be valid and must have read and write permissions on the bucket.
# When using the bundled seaweed instance, this means they must match the values in `seaweed/config.json`
TENZIR_PLATFORM_INTERNAL_BUCKET_NAME=platform-bucket
TENZIR_PLATFORM_INTERNAL_ACCESS_KEY_ID=86ac27778503b3396e934126cea384bc
TENZIR_PLATFORM_INTERNAL_SECRET_ACCESS_KEY=db973c3a1f67b7024c4a77d2fe41ca63
